<main id="main">
  <div id="about-us-subheader" class="breadcrumbs d-flex align-items-center">
    <div class="container position-relative d-flex flex-column align-items-center">
      <h2>About Us</h2>
    </div>
  </div>

  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4" data-aos="fade-up">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
          <div class="content ps-lg-5">
            <h3>Alerta para todos os visitantes!</h3>
            <p>
              Essa aplicação não é de um Banco de verdade, tudo isso não passa de uma aplicação de testes.
              <br>
              <i>(This application is not a real bank, all of this is just an application for testing)</i>
              <br>
              <br>
              Repitam comigo:
            </p>

            <ul>
              <li>
                <i class="bi bi-check-circle-fill mr-2"></i>
                Essa aplicação não é real. <em>(This isn't a real application)</em>
              </li>
              <li>
                <i class="bi bi-check-circle-fill mr-2"></i>
                Essa aplicação não é real. <em>(This isn't a real application)</em>
              </li>
              <li>
                <i class="bi bi-check-circle-fill mr-2"></i>
                Essa aplicação não é real. <em>(This isn't a real application)</em>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>
  </section>
</main>
