<main id="main">
  <div class="breadcrumbs d-flex align-items-center">
    <div class="container position-relative d-flex flex-column align-items-center">
      <h2>New Withdraw</h2>
    </div>
  </div>

  <section>
    <div class="container" data-aos="fade-right">
      <div class="row gy-4">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <%=
                form_with(
                  local: true,
                  method: :post,
                  data: { turbo: false },
                  url: withdraw_create_path,
                  model: [:withdraw, @withdraw]
                ) do |f|
              %>
              <form class="row g-3">
                <div class="col-12 mb-3">
                  <%= f.label :amount, class: "form-label" %>

                  <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">R$</span>
                    <%= f.text_field :amount, id: "amount-field", class: "form-control", required: true %>
                  </div>
                </div>

                <div class="actions text-center">
                  <%= f.submit "Withdraw", class: "submit-button btn btn-primary" %>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </section>
</main>

<script>
  (function() {
    $("#amount-field")
      .inputmask('currency', {
        "autoUnmask": true,
        "radixPoint":",",
        "groupSeparator": ".",
        "allowMinus": false,
        "digits": 2,
        "digitsOptional": false,
        "rightAlign": false,
        "unmaskAsNumber": true,
        "removeMaskOnSubmit": true
      });
  })()
</script>
