<div class="card">
  <div class="card-body">
    <h5 class="card-title">New Withdraw</h5>

    <%= form_with(model: [:withdraw, @withdraw], url: withdraw_create_path, local: true, method: :post, data: { turbo: false, aos: "fade-up", aos_delay: "300" }) do |f| %>
    <form class="row g-3">
      <div class="col-12">
        <label for="inputNanme4" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="inputNanme4">
      </div>

      <div class="col-12">
        <%= f.label :amount, class: "form-label" %>

        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">R$</span>
          <%= f.text_field :amount, id: "amount-field", class: "form-control", required: true %>
        </div>
      </div>

      <div class="actions text-center">
        <%= f.submit "Withdraw", class: "submit-button btn btn-primary" %>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    <% end %>

  </div>
</div>

<script>
  (function() {
    $("#amount-field")
      .inputmask('currency', {
        "autoUnmask": true,
        "radixPoint":",",
        "groupSeparator": ".",
        "allowMinus": false,
        "digits": 2,
        "digitsOptional": false,
        "rightAlign": false,
        "unmaskAsNumber": true,
        "removeMaskOnSubmit": true
      });
  })()
</script>
