<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Nobe Bank</span>
          </a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic unde excepturi quis aut neque iusto consequatur impedit perspiciatis, voluptatem inventore pariatur ad tenetur debitis harum, maiores eos. Dolor, cumque quod.</p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <%= link_to "Home", root_path %>
            </li>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <%= link_to "About Us", about_us_path %>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Services (Fake)</h4>
          <ul>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <a href="#">Deposits</a>
            </li>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <a href="#">Withdraws</a>
            </li>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <a href="#">Statements</a>
            </li>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <a href="#">Transactions</a>
            </li>
            <li>
              <i class="bi bi-dash mr-1"></i>
              <a href="#">Account Management</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us (Fake)</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +55 (84) 9 9999-9999<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>
  </div>
</footer>
